:root {
	background-color: white;
	font-family: 'urbanist';

}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

img {
	z-index: 0;
}

ion-icon {
	color: var(--green);
	width: 128px;
	height: 128px;

	@media screen and (max-width: 1400px) {
		width: 96px;
		height: 96px;
	}

	@media screen and (max-width: 1400px) {
		width: 32px;
		height: 32px;
	}
}

a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	cursor: pointer;
	transition: 200ms ease;
}

a:hover {
	color: var(--green);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	flex-direction: column;
}

.link-button {
	padding: 1rem 2rem;
	border-radius: 40px;

	background-color: black;
	color: white;

	font-weight: 800;

	@media screen and (max-width: 600px) {
		padding: 10px 15px;
	}
}

.window {
	width: 80vw;
	height: 100vh;
}