:root {
	background-color: white;
	font-family: 'urbanist';

}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

img {
	z-index: 0;
}

ion-icon {
	color: var(--green);
	width: 128px;
	height: 128px;

	@media screen and (max-width: 1400px) {
		width: 96px;
		height: 96px;
	}

	@media screen and (max-width: 1400px) {
		width: 32px;
		height: 32px;
	}
}

a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	cursor: pointer;
	transition: 200ms ease;
}

a:hover {
	color: var(--green);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	flex-direction: column;
}

.link-button {
	padding: 1rem 2rem;
	border-radius: 40px;

	background-color: black;
	color: white;

	font-weight: 800;

	@media screen and (max-width: 600px) {
		padding: 10px 15px;
	}
}

.window {
	width: 80vw;
	height: 100vh;
}

.announcement {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.4);

	.center {
		min-width: 300px;
		max-width: 700px;
		padding: 4rem;
		border-radius: 20px;
		height: fit-content;

		background-color: white;
		color: black;

		* {
			text-align: justify;
			text-align-last: center;
		}
		
		h1 {
			text-align: center;
			font-size: 64px;
		}

		button {
			padding: 1rem 1.5rem;
			text-transform: uppercase;
			transition: 150ms ease;
			cursor: pointer;
			border: none;
		}

		button:hover {
			background-color: var(--green);
			transform: scale(1.05);
		}
	}
}